@import 'tailwindcss';
/* @tailwind utilities; */

@custom-variant dark (&:is(.dark *));

:root {
    --background-primary: rgba(249, 250, 251, 1); 
    --background-secondary: rgba(18, 18, 18, 1);
    --text-primary: rgba(55, 65, 81, 1);
    --text-secondary: rgba(243, 244, 246, 1);
    --buttons: rgba(250, 204, 21, 1);
    --border-color: rgba(209, 213, 219, 1);
}

.dark {
    --background-primary: rgba(18, 18, 18, 1);
    --background-secondary: rgba(249, 250, 251, 1);
    --text-primary: rgba(243, 244, 246, 1);
    --text-secondary: rgba(55, 65, 81, 1);
}